.root {
    -fx-background-image: url("background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.goldRoot {
    -fx-background-image: url("goldenbackground.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
}